@font-face {
    font-family: Bai;
    src: url("../../../assets/fonts/BaiJamjuree-Regular.ttf"),
      url("../../../assets/fonts/BaiJamjuree-Regular.ttf");
  }
  
  @font-face {
    font-family: Montse;
    src: url("../../../assets/fonts/Montserrat-Regular.ttf"),
      url("../../../assets/fonts/Montserrat-Bold.ttf");
  }

*{
    font-family: Montse;
}