<ion-header translucent>
  <ion-toolbar>
    <ion-icon slot="start" style="margin-left: 10px;" (click)="goLoginPage()" name="arrow-back"></ion-icon>
    <ion-title>Prizes</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-item *ngFor="let p of prizesService.getPrizes()">
    <ion-card (click)="goToUser()" class="container">
      <img src="../../assets/prizes-img/default.jpg">
      <div class="centered">
        <h4>{{p.name}}</h4>
        <p>{{p.points}} p</p>
      </div>
    </ion-card>
  </ion-item>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <!-- BOTON DE USUARIO -->
      <ion-tab-button tab="user" (click)="goToUser()">
        <ion-icon name="person-outline" color="dark"></ion-icon>
      </ion-tab-button>
      <!-- BOTON DE TAREAS -->
      <ion-tab-button tab="fav" (click)="goToTasks()">
        <ion-icon name="reader-outline" color="dark"></ion-icon>
      </ion-tab-button>
      <!-- BOTON DE PREMIOS -->
      <ion-tab-button tab="exit">
        <ion-icon id="pressIcon" name="gift" color="dark"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>