@font-face {
  font-family: Bai;
  src: url("../../assets/fonts/BaiJamjuree-Regular.ttf"),
    url("../../assets/fonts/BaiJamjuree-Regular.ttf");
}

@font-face {
  font-family: Montse;
  src: url("../../assets/fonts/Montserrat-Bold.ttf"),
    url("../../assets/fonts/Montserrat-Regular.ttf");
}

h1 {
  text-align: center;
  margin-top: 70px;
  font-size: 2.5em;
  font-weight: bold;
  font-family: Bai;
}

ion-input{
  --padding-start: 10px;
}

#contenedor {
  // position: absolute;
  // top: 80px;
  // left: 28px;
  width: 80%;
  margin: auto;
  margin-top: 40px;
  background: rgb(9, 0, 155);
  background: linear-gradient(
    198deg,
    rgba(9, 0, 155, 1) 0%,
    rgba(0, 255, 255, 1) 100%
  );
  height: 350px;
  border-radius: 10%;
}

ion-input {
  --background: white;
  --color: grey;
  border-radius: 0.5em;
  top: 35px;
  width: 83%;
  font-family: Bai;
  left: 20px;
}

#btnlogin {
  --background: #ffa400;
  --background-hover: #ca8403; 
  --border-radius: 12px;
  font-family: Montse;
  margin: 20px;
  margin-top: 130px;
  color: black;
  font-weight: bold;
}

#btnregister {
  --border-radius: 12px;
  --background: rgb(43, 153, 243);
  margin-top: -10 px;
  margin-left: 60px;
  font-family: Montse;
  margin-right: 60px;
  padding: 5px;
  border-radius: 100px;
  // margin-top: 5px;
  color: black;
  font-weight: bold;
  font-size: 10px;
}

ion-router-link {
  position: absolute;
  top: 300px;
  font-weight: bold;
  left: 100px;
  font-family: Bai;
  font-size: 0.7em;
}

#checkbox {
  position: absolute;
  top: 330px;
  // font-weight: bold;
  left: 50px;
}

#checkbox ion-checkbox {
  vertical-align: middle;
  --background: rgba(7, 237, 245, 0.37);
}

#checkbox ion-label {
  color: rgb(182, 181, 181);
  font-size: 0.7em;
  font-family: Bai;
}
