<ion-content [fullscreen]="true">
  <h1>Task4Home</h1>
  <div id="contenedor">
    <ion-input inputmode="email" placeholder=" Email"></ion-input>
    <br>
    <ion-input inputmode="password" placeholder=" Password"></ion-input>
    <ion-router-link href="#">Forgot your password?</ion-router-link>
    <div id="checkbox">
      <ion-checkbox unchecked slot="start"></ion-checkbox>
      <ion-label> Remember me</ion-label>
    </div>
    <ion-button id="btnlogin" (click)="goWelcomePage()" expand="block">Login</ion-button>
    <ion-button id="btnregister" (click)="goRegisterPage()" expand="block">Register</ion-button>

  </div>
</ion-content>